* {
  margin: 0px;
  z-index: 0;
  font-family: monospace;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.can {
  position: absolute;
  z-index: -1px;
}

.content {
  display: flex;
  flex-direction: row;
}

.nav-container {
  margin-top: 10vh;
  width: 15vh;
  height: 90vh;
  display: flex;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.2);
}

.nav-bottom {
  margin-top: 0vh;

  position: static;
  display: flex;
  flex-direction: column;

  height: 100%;
}

.title {
  text-align: center;
  align-items: center;
  padding-top: auto;
  margin-left: 10vh;
  margin-top: 10vh;
  height: 20vh;
  width: 44vw;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 9em;
}

#btn {
  margin: 0% 0% 20% 0%;
  padding: 20px 0 20px 0;
  border-style: solid;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: white;

  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s cubic-bezier(0.16, 1.09, 0.71, 1);
}

#btn:hover {
  border-width: 0 0 0 2vw;

  transition: 0.5s cubic-bezier(0.16, 1.09, 0.71, 1);
}

.btn-menu {
  border-color: rgb(223, 255, 41);
}

.btn-info {
  border-color: rgb(41, 255, 255);
}
